        *{
            margin: 0;
            padding: 0;
        }

        body{
            /*margin-top: 80px!important;*/
        }
        div.row{
            margin-top: 50px;
        }
        div.blog-more{
            margin-top: 2em;
        }
        ul{
            list-style-type: none;
        }